@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
body {
  font-family: "IBM Plex Mono";
}

a {
  color: #b6aeaa;
  transition: all ease-in 500;
  &:hover {
    color: #f5a6e6;
    text-decoration: underline;
    transition: all ease-in 500;
  }
}
