---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import {projects} from "../content/projects"
import More from '../components/More.astro';
import Footer from "../components/Footer.astro"
---


<Layout title="Akinkunmi.">
	<main>
		<p class="text-sm">
			Welcome to my corner of the internet! I’m Akinkunmi. I have a passion for solving problems by building impactful software.
<br> <br>
			I'm constantly learning new stuff from docs, YouTube videos, blogs and every possible medium I can find information. <br>	
			<q>My goal is to become as cracked of an engineer as I can be.</q> <br> <br>
			
			I'm currently working on a new framework - <a href="http://destino.run" target="_blank" rel="noopener noreferrer">Destino</a>.
			<br> <br>
			You'll mostly find me working within the Typescript/JavaScript ecosystem, but I'm also interested in other languages such as <i>Elixir</i>, <i>Rust</i>, and <i>Go</i>.

		</p>

		<div class="mt-10">
			<h3 class="text-xl font-medium">Projects</h3>
			<div class="flex flex-col gap-y-7 mt-5">
				{projects.map((project) => <ProjectCard {...project} />)}

			</div>
		</div>
<More/>
<Footer/>
	</main>
</Layout>
