---
import Layout from '../layouts/Layout.astro';
import { getCollection } from "astro:content";
import ProjectCard from '../components/ProjectCard.astro';
import {projects} from "../content/projects"
---


<Layout title="Akinkunmi.">
	<main>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias et tenetur praesentium saepe at laborum quam atque velit, ad neque fugit aliquam odio corrupti dignissimos quasi explicabo, laudantium minus sapiente quia alias necessitatibus mollitia earum? Optio neque sequi et odio fuga beatae aliquam iste, libero natus repellendus reprehenderit ipsam doloremque.</p>

		<div class="mt-7">
			<h3 class="text-3xl font-medium">Cool stuff I've built</h3>
			<div class="flex flex-col gap-y-5 mt-3">
				{projects.map((project) => <ProjectCard {...project} />)}

			</div>
		</div>

	</main>
</Layout>

