<div class="border-t mt-10 py-5 border-gray-500">
    <p class="text-sm">© {new Date().getFullYear()} Akinkunmi IO. | All Rights Reserved.</p>
<p class="font-mono text-xs">Source code: <a href="http://github.com/akinloluwami/akinkunmi.dev" target="_blank" rel="noopener noreferrer">github.com/akinloluwami/akinkunmi.dev</a> </p>
</div>