---
const currentPath = Astro.url.pathname;

const pages = [
    {
        title: "Home",
        href: "/"
    },
    // {
    //     title: "Blog",
    //     href: "/blog"
    // },
    // {
    //     title: "Thoughts",
    //     href: "/thoughts"
    // },
    {
        title: "Guestbook",
        href: "/guestbook"
    },
]
---

<nav class="mb-12">
    <div class="flex items-center gap-6">
        {pages.map(page => (
            <a 
                href={page.href} 
                class={currentPath === page.href ? "text-white" : "text-zinc-500 hover:text-zinc-300"}
            >
                {page.title}
            </a>
        ))}
    </div>
</nav>