<nav class="">
    <div class="max-w-screen-md mx-auto p-5">
        <div class="flex items-center gap-x-4">
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/blog">Blog</a>
            <a href="/guestbook">Guestbook</a>
        </div>
    </div>
</nav>