---
import Navbar from '../components/Navbar.astro';
import Header from "../components/Header.astro"
import PostHog from '../components/posthog.astro';

import "../styles/global.css"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Akinkunmi" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/me.png" />
		<meta name="generator" content="Akinkunmi" />
		<title>{title}</title>
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://akinkunmi.dev" />	
		<meta property="og:title" content={title} />
		<meta property="og:description" content="Akinkunmi" />
		<meta property="og:image" content="/og.png" />
		
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://akinkunmi.dev" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content="Akinkunmi" />
		<meta property="twitter:image" content="/og.png" />

		<PostHog/>
	  
	</head>
	<body class="bg-black-001 text-off-white pb-10">
		<!-- <Navbar/> -->
		<div class="max-w-2xl mx-auto px-5 py-10">
			<slot/>
		</div>
	</body>
</html>